*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    /* background-color: #D4D4D4; */
    background-color: #f1f1f2;

    font-family: 'Poppins', sans-serif;
}
.hero-section {
    background-color: #f1f1f2;
    /* color: #f1f1f2; */
    color: #092804;
    /* padding: 20px 0px; */
    border-radius: 15px;
    margin: 0 auto;
}

.hero-section h1 {
    font-size: 48px;
    font-weight: bold;
}

.hero-section p {
    font-size: 18px;
    margin-top: 20px;
    line-height: 1.6;
}

.hero-section .get-started {
    background-color: #010316;
    color: #f1f1f2;
    padding: 12px 30px;
    text-transform: uppercase;
    font-weight: bold;
    transition: background-color 0.2s ease;
}

.hero-section .get-started:hover {
    /* background-color: #f1f1f2; */
    background-color: transparent;
    outline: 2px solid #010316;
    color: #010316;
    /* color: #010316; */
}
.hero-section img {
    max-width: 100%;
    height: auto;
}
@media (max-width: 991px) {
    .hero-section {
        padding: 20px 10px;
        text-align: center;
        /* flex-direction: column-reverse */
    }
    .hero-section h1 {
        font-size: 32px;
    }
    .hero-section p {
        font-size: 16px;
    }
    .hero-section .get-started{
        font-size: 12px;
    }
    .text-content {
        max-width: 100%;
    }
    .hero-section .get-started {
        margin-top: 20px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
}
